body {
  background: rgb(255, 255, 255);
  color: rgb(24, 2, 100);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 100vh;
  margin-top: 7px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-size: 28px;
}

button {
  background-color:#4e8164;
  border: #4e8164;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  align-items: center;
  margin-top: 8px;  
  margin-bottom: 8px;
}

form {
  align-items: center;
  margin-top: 15px;
  padding: 15px 32px;
}

label {
  align-items: center;
  font-size: 24px;
  color: rgba(122, 120, 120, 0.849);
}

img{
  height: 75px
}

input {
  padding: 15px 32px;
  margin-top: 8px;  
  margin-bottom: 8px;
}

.container{
  display: flex;
  align-items: center;
  align-content: center;
}

.input-label{
  color:rgb(0, 0, 0);
  font-size: 16px;
  margin-top: 8px;  
  margin-bottom: 8px;
  margin-right: 8px;  
}

.error {
  color: rgb(253, 2, 2);
}