body {
  background: rgb(255, 255, 255);
  color: rgb(24, 2, 100);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 100vh;
  margin-top: 7px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-size: 28px;
}

button {
  background-color:#4e8164;
  border: #4e8164;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form {
  align-items: center;
  margin-top: 15px;
}

input {
  padding: 15px 32px;
}

.error {
  color: rgb(253, 2, 2);
}