body {
  background: rgb(255, 255, 255);
  color: rgb(24, 2, 100);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 100vh;
  margin-top: 7px;
  margin-left:32px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-size: 28px;
}

button {
  background-color:#4e8164;
  border: #4e8164;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 8px;  
  margin-bottom: 8px;
}

label {
  font-size: 24px;
  color: rgba(122, 120, 120, 0.849);
}

img{
  height: 75px
}

input {
  padding: 15px 32px;
  margin-top: 8px;  
  margin-bottom: 8px;
}

form{
  margin: 0 auto; 
  width:250px;
  align-items: center;
  @media screen and (min-width: 800px) {
    width:700px;
  }
}

.container{
  display: inline-block;
}

.form-group{
  display: block;
  margin-left: auto;
  margin-right: auto
}

.input-label{
  color:rgb(0, 0, 0);
  font-size: 16px;
  margin-top: 8px;  
  margin-bottom: 8px;
  margin-right: 8px;  
}

.error {
  color: rgb(253, 2, 2);
}

.results{
  margin: 0 auto;
  width:250px;
  align-items: center;  
  @media screen and (min-width: 800px) {
    width:700px;
  }
}